.img {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 200px;
        max-height: 100px;
    }
}

mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

mat-card {
    max-width: 90%;
    margin: 0 auto;
    border: none;
}

mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: end;
}

mat-list-item {
    height: 30px !important;

    span {
        font-weight: 700;
    }
}