<div id="home" class="container">
    <h1>Dashboard pokemon</h1>

    <app-search-bar (searchTerm)="searchPokemon($event)"></app-search-bar>

    @if (loading()) {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
    } @else {
    <div class="container">
        <div class="row">
            @let current = pokemons() | pokeFilter: searchTerm();
            @if (current.length > 0) {
            @for (pokemon of current; track pokemon.id) {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
            </div>
            }
            } @else {
            <div class="not-found">
                <h5>No se encontro ningun pokemon con el nombre <span>{{searchTerm()}}</span></h5>
            </div>
            }
        </div>
    </div>
    }

</div>