<mat-card class="example-card" appearance="outlined">
    @let poke = pokemon();
    <mat-card-header>
        <mat-card-title>{{poke.name}}</mat-card-title>
    </mat-card-header>
    <div class="img">
        <img mat-card-image [src]="poke.sprite.front" [alt]="poke.name" appNotImage [img]="'assets/not-found.png'" />
        <img mat-card-image [src]="poke.sprite.back" [alt]="poke.name" appNotImage [img]="'assets/not-found.png'" />
    </div>
    <mat-card-actions>
        <button matButton (click)="openDialog()">Ver</button>
        <button matButton (click)="deleteFromLocal()">Borrar</button>
    </mat-card-actions>
</mat-card>