.img {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 200px;
        max-height: 100px;
    }
}

mat-card {
    max-width: 90%;
    margin: 10px auto;

    &.active {
        border: 1px solid red;
    }
}

mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: end;
}