#header {
    background: #232321;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            color: #fff;
            margin: 0;
        }
    }
}